* {
  text-decoration: none;
  list-style-type: none;
  margin: 0%;
  padding: 0%;
  color: black;
  scroll-behavior: smooth;
}
    
.header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    padding: 2rem;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
}