* {
  text-decoration: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

@font-face {
  font-family: "Norms";
  src: url("assets/font/norms-regular.woff2") format("woff2"), url("assets/font/norms-regular.woff") format("woff");
}
body {
  font-family: "Norms, Courier New", Courier, monospace;
  word-break: break-word;
  color: black;
}

header {
  height: 100px;
  width: 100vw;
}

.navbar {
  background-color: #d4f7bd;
}

.row {
  width: 130px;
}
.row button {
  width: 100%;
}

.logoFoodWaste {
  height: 70px;
  width: 70px;
}

.container-header {
  height: 75vh;
}

.custom-btn {
  width: 150px;
  height: 40px;
  color: rgb(0, 0, 0);
  border-radius: 5px;
  font-family: "Norms", sans-serif;
  font-weight: 800;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5), 7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  outline: none;
}
.custom-btn.btn-14 {
  background: #d4f7bd;
  border: solid 0.1rem #57b01c;
  color: #57b01c;
  border-radius: 7px;
  z-index: 1;
}
.custom-btn.btn-14:after {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  right: 0;
  z-index: -1;
  background-color: #57b01c;
  border-radius: 5px;
  box-shadow: inset 7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}
.custom-btn.btn-14:hover {
  color: #fff;
}
.custom-btn.btn-14:hover:after {
  left: 0;
  width: 100%;
}
.custom-btn.btn-14:active {
  top: 2px;
}
.custom-btn.btn-15 {
  background: #d4f7bd;
  border: none;
  z-index: 1;
}
.custom-btn.btn-15:after {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  right: 0;
  z-index: -1;
  background-color: #57b01c;
  border-radius: 5px;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5), 7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}
.custom-btn.btn-15:hover {
  color: #fff;
}
.custom-btn.btn-15:hover:after {
  left: 0;
  width: 100%;
}
.custom-btn.btn-15:active {
  top: 2px;
}

input[type=text],
textarea,
input[type=email] {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  margin-right: 0px;
  margin-left: 0px;
  resize: vertical;
}

label {
  margin-right: 0px;
  margin-left: 0px;
  width: 100%;
  color: #fff;
}

input[type=submit] {
  background-color: #61a733;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #9ddf71;
}

.formulaire {
  box-sizing: border-box;
  border-radius: 5px;
  background-color: #d4f7bd;
  padding: 20px;
  width: 90%;
  max-width: 440px;
  margin: auto;
  margin-top: 100px;
  color: #000000;
}
.formulaire .titleForm {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.formulaire h1 {
  border-bottom-color: rgb(223, 234, 237);
  border-bottom: 4px solid;
  border-top: 4px solid;
  display: inline-block;
  text-align: center;
  padding-bottom: 0.2em;
  padding-top: 0.2em;
  margin-bottom: 0.6em;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 18px;
  width: 58%;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
.formulaire .buttonForm {
  display: flex;
  justify-content: center;
  align-items: center;
}
.formulaire form label {
  color: #000000;
}
.formulaire form .custom-btn {
  height: 50px;
  color: #000000;
}

footer {
  height: auto;
  color: #fff;
  background-color: #070b32;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 40px;
  margin-top: 80px;
}
footer .divFooter {
  width: 100vw;
}
footer .zeroWasteFrance {
  width: 33%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
footer .nousSuivre {
  width: 33%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
footer i {
  margin-top: 5px;
  color: #fff;
  font-size: 2em;
}
footer .newsletterFooter {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 33%;
}
footer .newsletterFooter > p {
  width: 240px;
}
footer .conception {
  background-color: #202020;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 20px;
  width: 100vw;
  height: 30px;
}
footer .conception > p {
  margin-bottom: 0;
  font-size: 12px;
}
footer .conception > p > a {
  text-decoration: none;
  color: #e2bb2e;
}

footer > div {
  display: flex;
  text-align: center;
  width: 200px;
}

footer > div > div > .footerTitle {
  border-bottom-color: rgb(223, 234, 237);
  border-bottom: 4px solid #dfeaed;
  border-top: 4px solid;
  display: inline-block;
  padding-bottom: 0.2em;
  padding-top: 0.2em;
  margin-bottom: 0.6em;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 18px;
}

@media (max-width: 768px) {
  .row {
    padding: 0;
    width: 100vw;
    justify-content: center;
  }
  .row-md {
    height: 70px;
    width: 49px;
  }
  .logoFoodWaste {
    padding: 0;
  }
  .btn {
    width: 250px;
  }
  .paragraph-container-header {
    width: 320px;
  }
  .title-container-header {
    width: 320px;
    margin-bottom: 20px;
  }
  .divFooter {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .divFooter div {
    margin-bottom: 20px;
  }
}/*# sourceMappingURL=contact.css.map */