* {
  text-decoration: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

@font-face {
  font-family: "Norms";
  src: url("assets/font/norms-regular.woff2") format("woff2"),
    url("assets/font/norms-regular.woff") format("woff");
}

@font-face {
  font-family: "wickedgrit";
  src: url("assets/font/wickedgrit.woff2") format("woff2"),
    url("assets/font/wickedgrit.woff") format("woff");
}

body {
  font-family: "Norms, Courier New", Courier, monospace;
  word-break: break-word;
  color: black;
}

header {
  height: 100vh;
  width: 100vw;
  background: url("assets/img/bouteilles-en-plastique.jpg") center / cover
    no-repeat;
}

.navbar {
  background-color: #d4f7bd;
}

.row {
  width: 200px;
}

.logoFoodWaste {
  height: 70px;
  width: 70px;
}

.containerHeader {
  height: 75vh;
  color: #fff;
}

.custom-btn {
  width: 150px;
  height: 40px;
  color: rgb(0, 0, 0);
  border-radius: 5px;
  padding: 10px px;
  font-family: "Norms", sans-serif;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  outline: none;

  // 15
  &.btn-15 {
    background: #d4f7bd;
    border: none;
    z-index: 1;

    &:after {
      position: absolute;
      content: "";
      width: 0;
      height: 100%;
      top: 0;
      right: 0;
      z-index: -1;
      background-color: #57b01c;
      border-radius: 5px;
      box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
        7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
      transition: all 0.3s ease;
    }

    &:hover {
      color: #fff;

      &:after {
        left: 0;
        width: 100%;
      }
    }

    &:active {
      top: 2px;
    }
  }
}

// SECTION NEWS

x.containerMain {
  height: auto;
  width: 100vw;
}

.sectionNews {
  height: auto;
  margin-inline: 3rem;
}

.titleH2 {
  width: 100px;
  border-bottom-color: rgb(223, 234, 237);
  border-bottom: 4px solid #000000;
  border-top: 4px solid #000000;
  padding-bottom: 0.2em;
  padding-top: 0.2em;
  margin-bottom: 0.6em;
  font-weight: 900;
  text-transform: uppercase;
}

.cardNews {
  position: relative;
  // width: 95vw;
  height: 400px;
  padding: 1rem;
  background: url("assets/img/camion-poubelle.jpeg") center / cover no-repeat;
  border-radius: 0.6rem;
  box-shadow: rgba(0, 0, 0, 0.55) 0px 5px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  &-content {
    font-size: 10px;
    border-radius: 0.6rem;
    position: absolute;
    background-color: rgb(255, 255, 255);
    color: #070b32;
    min-height: 200px;
    z-index: 2;
    padding: 10px;
    bottom: 0;
    left: 0;
    right: 0;
    h3 {
      font-size: 18px;
    }
  }
}

.cards {
  display: grid;
  gap: 1rem;
  grid-template-columns: clamp(150px, 45vw, 450px) clamp(150px, 45vw, 450px);
  grid-template-rows: auto;
  grid-template-areas:
    "card1 card1"
    "card2 card3"
    "newContent newContent";
}

.cardNews:nth-child(1) {
  grid-area: card1;
  .cardNews-content {
    bottom: 2rem;
    left: 2rem;
    right: 2rem;
  }
}
.cardNews:nth-child(2) {
  grid-area: card2;
  background: url("assets/img/poubelle.jpg") center / cover no-repeat;
}
.cardNews:nth-child(3) {
  grid-area: card3;
  background: url("assets/img/scrabble.jpg") center / cover no-repeat;
}
.cardNews:nth-child(2),
.cardNews:nth-child(3) {
  .cardNews-content {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}

.cardNews:not(.cardNews) {
  font-size: 10px;
  border-radius: 0px 0px 10px 10px;
  width: 100vw;
  height: 100px;
  width: 92vw;
  background-color: green;
  padding: 3rem;
}

.section-news_content {
  // height: 250px;
  position: relative;
  background-color: #257572;
  color: #fff;
  background-image: url(asset/img/patterns/green-dust-and-scratches.png);
  border-radius: 3px;
  padding: 3rem;
  grid-area: newContent;
  margin-top: 40px;
}

.gridTags {
  margin-bottom: 30px;
}

.newsletter,
.keyword {
  border-bottom-color: rgb(223, 234, 237);
  border-bottom: 4px solid #dfeaed;
  border-top: 4px solid;
  display: inline-block;
  padding-bottom: 0.2em;
  padding-top: 0.2em;
  margin-bottom: 0.6em;
  font-weight: 900;
  text-transform: uppercase;
}

.keyword {
}

.tag {
  background-color: #fff;
  text-decoration: none;
  border-radius: 3px;
  color: #070b32;
  display: inline-block;
  font-weight: 700;
  padding: 0.4em 0.8em;
  margin: 4px 0;
  white-space: nowrap;
  font-size: 0.7rem;
}

.divNewsletter > button {
  font-size: 0.7em;
  font-weight: 800;
  text-transform: uppercase;
  margin-top: 20px;
}

// SECTION NOUS SOUTENIR

.sectionNousSoutenir {
  font-weight: bold;
  color: #070b32;
}

.nousSoutenir {
  height: 400px;
  margin-top: 72px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
}

.aPropos {
  padding-top: 48px;
  padding-right: 48px;
}

.h3aPropos,
.h4FaireUnDon {
  font-weight: bold;
  text-transform: uppercase;
}

.faireUnDon {
  padding-top: 48px;
  background-color: #fcb900;
  border-radius: 0.2rem;
  padding-left: 48px;
}

.h4FaireUnDon {
  color: #fff;
  font-size: 1em;
  font-weight: 800;
}

.faireUnDon > button {
  width: 85px;
}

.pUnDon {
  margin-bottom: 100px;
}

.divButtonDon > button {
  width: 140px;
  height: 30px;
  font-size: 0.5em;
  font-weight: 900;
  text-transform: uppercase;
}

// FOOTER

footer {
  height: auto;
  color: #fff;
  background-color: #070b32;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 40px;
  margin-top: 80px;

  .divFooter {
    width: 100vw;
  }

  .zeroWasteFrance {
    width: 33%;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .nousSuivre {
    width: 33%;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  i {
    margin-top: 5px;
    color: #fff;
    font-size: 2em;
  }

  .newsletterFooter {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 33%;
  }

  .newsletterFooter > p {
    width: 240px;
  }

  .conception {
    background-color: #202020;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 20px;
    width: 100vw;
    height: 30px;
  }

  .conception > p {
    margin-bottom: 0;
    font-size: 12px;
  }

  .conception > p > a {
    text-decoration: none;
    color: #e2bb2e;
  }
}

footer > div {
  display: flex;
  text-align: center;
  width: 200px;
}

footer > div > div > .footerTitle {
  border-bottom-color: rgb(223, 234, 237);
  border-bottom: 4px solid #dfeaed;
  border-top: 4px solid;
  display: inline-block;
  padding-bottom: 0.2em;
  padding-top: 0.2em;
  margin-bottom: 0.6em;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 18px;
}

// MEDIA QUERIES

@media (max-width: 768px) {
  .row {
    padding: 0;
    width: 100vw;
    justify-content: center;
  }

  .row-md {
    height: 70px;
    width: 49px;
  }

  .logoFoodWaste {
    padding: 0;
  }

  .btn {
    width: 250px;
  }

  .paragraphContainerHeader {
    width: 320px;
  }

  .titleContainerHeader {
    width: 320px;
    margin-bottom: 20px;
  }

  .divFooter {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    div {
      margin-bottom: 20px;
    }
  }
}

@media screen and (min-width: 680px) {
  .card__news-content {
    min-height: 132px;
  }
}

@media screen and (min-width: 1100px) {
  .cards {
    grid-template-columns: clamp(150px, 30vw, 450px) clamp(150px, 30vw, 450px) clamp(
        350px,
        30vw,
        550px
      );
    grid-template-rows: auto;
    grid-template-areas:
      "card1 card1 newContent"
      "card2 card3 newContent";
  }

  .gridTags {
    display: flex;
    flex-direction: column;
  }

  .section-news_content {
    margin-top: 0;
  }
}
